/*Nombre: Carlos
Esto es un comentario*/

*{
    margin :0;
    box-sizing: border-box;

}

body{
    background-color: lightblue;
    font-family: serif;
    padding: 80px 0px 20px 0px;
    /*  padding-top: 10px;
        padding-right: 43px;
        padding-bottom: 14px;
        padding-left: 123px;
    */
}
.nav_menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav_menu_item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}

.nav_menu_link{
    padding: 8px 12px;
    border-radius: 4px;
}


.nav_menu_link:hover{
    background-color: lightcoral;
    transition: 0.5s;
}


.header{
    background-color: black;
    height: 80px;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0px;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-height: 992px;
    margin: 0 auto;
}

.logo{
    
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav_link{
    color: wheat;
    text-decoration: none;
}


.aside {
    background-color: darkgoldenrod;
    position: fixed;
    top: 80px;
    width: 20%;
    bottom: 20px;
}


.section{
    background-color: darkorchid;
    position: fixed;
    top: 80px;
    right: 0;
    width: 80%;
    bottom: 20px;
    overflow-y: scroll;
    padding: 20px;
}

.footer{
    background-color: khaki;
    height: 20px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
h3{
    color: floralwhite;
}


h2{
    color: fuchsia;
}

.texto_centrado{
    text-align: center;
}

.texto_derecho{
    text-align: right;
}

tbody tr:nth-child(odd){
    background-color: forestgreen;
}

tbody tr:nth-child(even){
    background-color: salmon;
}
